#not-same-timing {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

#no-same:checked ~ #not-same-timing {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}