div.tags {
    justify-content: center;
}

.field.has-addons {
    justify-content: center;
    margin-bottom: 12px;
}

td:not(.has-text-weight-bold) {
    background-color: #FAFAFA;
    min-width: 50vmin;
}

td:not(.has-text-weight-bold) {
    transition: 0.15s;
}

td:not(.has-text-weight-bold):active {
    transform: scaleX(1.2);
    box-shadow: 0 2px 34px 0 rgba(0,0,0,.27);
}

div.hidden {
    display: none;
    max-height: 0px;
}

.table td.is-booked {
    background: linear-gradient(to bottom, #31DD6D, #1FBB56);
}

.table td.is-blocked {
    background: linear-gradient(to bottom, #505050, #292929);
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
  }
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
  }

.table td.is-blocked-selected {
    background: linear-gradient(to bottom, #505050, #292929);
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.table td.is-selected {
    background: linear-gradient(to bottom, #00EBC8, #00D1B2);
}

.table td.is-cancelled {
    background: linear-gradient(to bottom, #FF5274, #FF0537);
}