body, input, button {
	font-family: "Jost",-apple-system,system-ui,BlinkMacSystemFont,
	"Segoe UI",Roboto,sans-serif;
}

.title,.subtitle {
	text-align: center;
	font-weight: 500;
}

.hero.is-info .navbar-item, .hero.is-info .navbar-link {
	color: #fff;
}

.hero-head .navbar-link:not(.is-arrowless)::after {
	border-color: #fff;
}

@media (min-width: 1024px) {
	.navbar-dropdown {
		background-color: inherit;
		border-top: 2px solid hsl(217, 71%, 53%);
		/* adapted from has-background-info color */
	}
}

#nav-icon {
	margin-right: 0.5em;
}

#nav-title {
	font-size: 1.25rem;
}