div.tags {
    justify-content: center;
}

.field.has-addons {
  justify-content: center;
  margin-bottom: 12px;
}

td:not(.has-text-weight-bold) {
    background-color: #FAFAFA;
    min-width: 50vmin;
}

td:not(.has-text-weight-bold) {
    transition: 0.25s;
}

td:not(.has-text-weight-bold):active {
    transform: scaleX(1.3);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.35);
}

div.hidden {
    display: none;
    max-height: 0px;
}

.table td.is-booked {
    background-color: #23D160;
}

.table td.is-blocked {
    background-color: #363636;
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
@keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

.table td.is-blocked-selected {

    background-color: #363636;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

.table td.is-selected {
    background-color: #00D1B2;
}

.table td.is-cancelled {
    background-color: #FF3860;
}