{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='css/bulma-calendar.min.css') }}">
{% endblock %}

{% block body %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
<section class="section is-centered">
    <div class="container">
        <div class="field">
            <input type='date'>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="tags">
                <span class="tag">Available</span>
                <span class="tag is-primary">Selected</span>
                <span class="tag is-dark">Blocked</span>
                <span class="tag is-success">Booked</span>
                <span class="tag is-danger">Cancel</span>
            </div>
        </div>
        <table id="slots" class="table is-bordered is-fullwidth">
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
<script src="{{ url_for('static', filename='js/bulma-calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/booking-consult.js') }}"></script>
{% endblock %}