{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='css/bulma-calendar.min.css') }}">
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='css/booking-create.css') }}">
{% endblock %}

{% block body %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
<section class="section is-centered">
    <div class="container">
        <div class="field">
            <label class="label">Name of Event</label>
            <div class="control">
                <input class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Date Range of Event</label>
            <input type="date">
        </div>
        <div class="field">
            <label class="label">Start and End Time</label>
            <input type='time'>
        </div>
        <div class="field">
            <label class="label">Duration of Slots</label>
            <div class="select">
                <select>
                    <option value="">Select Duration</option>
                    <option value="5">5min</option>
                    <option value="10">10min</option>
                    <option value="15">15min</option>
                    <option value="20">20min</option>
                    <option value="30">30min</option>
                </select>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<script src="{{ url_for('static', filename='js/bulma-calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/booking-create.js') }}"></script>
{% endblock %}