{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="section is-centered">
    <div class="container">
        <div class="field">
            <label class="label">Name of Event</label>
            <div class="control">
                <input class="input" id="eventName" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Date Range of Event</label>
            <div class="control">
                <input class="input" id="dateRange" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Start Time</label>
            <div class="control">
                <input class="input" id="startTime" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">End Time</label>
            <div class="control">
                <input class="input" id="endTime" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Duration of Slots</label>
            <div class="select">
                <select id="slotDuration">
                    <option value="">Select Duration</option>
                    <option value="5">5min</option>
                    <option value="10">10min</option>
                    <option value="15">15min</option>
                    <option value="20">20min</option>
                    <option value="30">30min</option>
                </select>
            </div>
        </div>
        <div id="addConfigField" class="field">
            <button class="button is-primary">
                Additional Configuration
            </button>
        </div>
        <div class="field">
            <div class="control">
                <form action="/create" method="POST">
                    <button type="submit" name="create-booking"
                    class="button is-link">
                        Create Booking
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js"></script>
<script src="{{ url_for('static', filename='js/booking-create.js') }}"></script>
{% endblock %}