{% extends "layout.html" %}

{% block body %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
    {% block content %}
    <section class="section is-centered">
        <div class="container">
            <h1 class="title">Upcoming Consultations</h1>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                    <th>With Who</th>
                    <th>Time Booked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-target="modal_consult_1">
                        <td>Teacher A</td>
                        <td>
                            28 February 2020<br>
                            1:00pm
                        </td>
                    </tr>
                    <tr data-target="modal_consult_2">
                        <td>Teacher B</td>
                        <td>
                            28 February 2020<br>
                            1:20pm
                        </td>
                    </tr>
                    <tr data-target="modal_consult_3">
                        <td>Teacher A</td>
                        <td>
                            2 March 2020<br>
                            10:20am
                        </td>
                    </tr>
                </tbody>
            </table>
            <h1 class="title">Upcoming Special Events</h1>
            <h2 class="subtitle">2020 Y5 PTM</h2>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                    <th>With Who</th>
                    <th>Time Booked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-target="modal_special_1">
                        <td>Teacher C</td>
                        <td>
                            3 March 2020<br>
                            5:00pm
                        </td>
                    </tr>
                    <tr data-target="modal_special_2">
                        <td>Teacher B</td>
                        <td>
                            3 March 2020<br>
                            5:20pm
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="modal_consult_1" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">With Who</td>
                                <td>
                                    Teacher A
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Email</td>
                                <td>
                                    TeacherA@dhs.sg
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Time Booked</td>
                                <td>
                                    28 February 2020<br>
                                    1:00pm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Type</td>
                                <td>
                                    Hmm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Reference Code</td>
                                <td>
                                    Hmmmmmmm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
        <div id="modal_consult_2" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">With Who</td>
                                <td>
                                    Teacher B
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Email</td>
                                <td>
                                    TeacherB@dhs.sg
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Time Booked</td>
                                <td>
                                    28 February 2020<br>
                                    1:20pm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Type</td>
                                <td>
                                    Hmm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Reference Code</td>
                                <td>
                                    Hmmmmmmm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
        <div id="modal_consult_3" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">With Who</td>
                                <td>
                                    Teacher A
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Email</td>
                                <td>
                                    TeacherA@dhs.sg
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Time Booked</td>
                                <td>
                                    2 March 2020<br>
                                    10:20am
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Type</td>
                                <td>
                                    Hmm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Reference Code</td>
                                <td>
                                    Hmmmmmmm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
        <div id="modal_special_1" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">With Who</td>
                                <td>
                                    Teacher C
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Email</td>
                                <td>
                                    TeacherC@dhs.sg
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Time Booked</td>
                                <td>
                                    3 March 2020<br>
                                    5:00pm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Type</td>
                                <td>
                                    Hmm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Reference Code</td>
                                <td>
                                    Hmmmmmmm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
        <div id="modal_special_2" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <table class="table is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <td class="has-text-weight-bold">With Who</td>
                                <td>
                                    Teacher B
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Email</td>
                                <td>
                                    TeacherB@dhs.sg
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Time Booked</td>
                                <td>
                                    3 March 2020<br>
                                    5:20pm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Type</td>
                                <td>
                                    Hmm
                                </td>
                            </tr>
                            <tr>
                                <td class="has-text-weight-bold">Reference Code</td>
                                <td>
                                    Hmmmmmmm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="modal-close is-large"></button>
        </div>
    </section>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}