{% extends "layout.html" %}

{% block body %}
{% block nav %}
	{{ super() }}
{% endblock %}
{% block content %}


<section class="section is-centered">

	<div class="container">
	
		<!-- js to toggle view type -->
		{% if view_type=="time" %}
		<button class="button is-info" onclick="toggleView()" id="viewBtn" style="display: inline-block">Display by Event</button>
		{% else %}
		<button class="button is-info" onclick="toggleView()" id="viewBtn" style="display: inline-block">Display by Time</button>
		{% endif %}
		
		<form action="/view-bookings" method="post" style="display: inline-block">
		{% if view_type=="time" %}
			<!-- jinja to remember preference if refreshing page -->
			<input type="hidden" name="view_type" value="time">
		{% elif view_type=="event" %}
			<input type="hidden" name="view_type" value="event">
		{% endif %}
			<input class="button is-info" type="submit" id="refresh" value="Refresh"></input>
		</form>
		
		<h1 class="title">Upcoming Events</h1>
		
		{% if events_2d == [] %}
			<h3 class="has-text-weight-bold has-text-centered is-size-3">You have no upcoming events</h3>
		{% else %}
		<table class="table is-fullwidth is-hoverable" id="view-by-time">
			<thead>
				<tr>
				<th>Meeting With</th>
				<th>Time Booked</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(events_2d | length) %}
				<tr data-target="modal_time_{{i+1}}">
					<td>{{events_2d[i]["person_name"]}}</td>
					<td>
						{{events_2d[i]["date"]}}
						<br />
						{{events_2d[i]["start_time"]}} - {{events_2d[i]["end_time"]}}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		
		<div id="view-by-event" >
			{% for i in range(events_3d | length) %}
				<table class="table is-fullwidth is-hoverable">
				<tr>
					<td class="has-text-weight-bold">Meeting With: </td>
					<td>{{events_3d[i][0]["person_name"]}}</td>
				</tr>
				{% for j in range(events_3d[i] | length) %}
				<tr data-target="modal_event_{{i+1}}_{{j+1}}">
					{% if j==0 %}
					<td class="has-text-weight-bold">Timings: </td>
					{% else %}
					<td></td>
					{% endif %}
					<td>
						{{events_3d[i][j]["date"]}}
						<br />
						{{events_3d[i][j]["start_time"]}} - {{events_3d[i][j]["end_time"]}}
					</td>
				</tr>
				{% endfor %}
				</table>
			{% endfor %}
		</div>
		{% endif %}
		
	</div>
	
	
	{% for i in range(events_2d | length) %}
		<div id="modal_time_{{i+1}}" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<div class="box">
					<table class="table is-fullwidth is-hoverable">
						<tbody>
							<tr>
								<td class="has-text-weight-bold">Meeting With</td>
								<td>
									{{events_2d[i]["person_name"]}}
								</td>
							</tr>
							<tr>
								<td class="has-text-weight-bold">Time Booked</td>
								<td>
									{{events_2d[i]["date"]}}<br>
									{{events_2d[i]["start_time"]}} - {{events_2d[i]["end_time"]}}
								</td>
							</tr>
							<tr>
								<td class="has-text-weight-bold">Reference Code</td>
								<td>
								   {{events_2d[i]["ref_code"]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<button class="modal-close is-large"></button>
		</div>
	{% endfor %}
	
	{% for i in range(events_3d | length) %}
		{% for j in range(events_3d[i] | length) %}
		<div id="modal_event_{{i+1}}_{{j+1}}" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<div class="box">
					<table class="table is-fullwidth is-hoverable">
						<tbody>
							<tr>
								<td class="has-text-weight-bold">Meeting With</td>
								<td>
									{{events_3d[i][j]["person_name"]}}
								</td>
							</tr>
							<tr>
								<td class="has-text-weight-bold">Time Booked</td>
								<td>
									{{events_3d[i][j]["date"]}}<br>
									{{events_3d[i][j]["start_time"]}} - {{events_3d[i][j]["end_time"]}}
								</td>
							</tr>
							<tr>
								<td class="has-text-weight-bold">Reference Code</td>
								<td>
									{{events_3d[i][j]["ref_code"]}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<button class="modal-close is-large"></button>
		</div>
		{% endfor %}
	{% endfor %}

</section>
{% endblock %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
	var x = "{{view_type}}";
	if(x=="time"){
		var viewEvent = document.getElementById("view-by-event")
		if (viewEvent) viewEvent.style = "display: none";
	}
	else{
		var viewTime = document.getElementById("view-by-time")
		if (viewTime) viewTime.style = "display: none";
	}
	
	function toggleView() {

	  var btn = document.getElementById("viewBtn")
	  var pref = document.getElementsByName("view_type")[0];
	  var viewTime = document.getElementById("view-by-time")
	  var viewEvent = document.getElementById("view-by-event")
	  if (btn.innerHTML == "Display by Event"){
		if (viewEvent) viewEvent.style = "";
		if (viewTime) viewTime.style = "display: none";
		pref.value = "event";
		btn.innerHTML = "Display by Time";
	  }
	  else{
		if (viewEvent) viewEvent.style = "display: none";
		if (viewTime) viewTime.style = "";
		pref.value = "time";
		btn.innerHTML = "Display by Event";
	  }
	}
</script>
{% endblock %}