{% extends "layout.html" %}

{% block body %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="section is-centered">
    <div class="container">

        <label>Display by: </label>
        <form style="display: inline;" action="/sort_by_time">
            <input type="submit" value="Time">
        </form>
        <h1 class="title">Upcoming Consultations</h1>

        <table class="table is-fullwidth is-hoverable">
            <thead>
            </thead>
            <tbody>
                {% for i in range(consults | length) %}
                <tr>
                    <th>With Who: </th>
                    <th>{{consults[i][0]["person_name"]}}</th>
                </tr>
                {% for j in range(consults[i] | length) %}
                <tr data-target="modal_consult_{{i+1}}_{{j+1}}">
                    {% if j==0 %}
                    <td>Timings: </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        {{consults[i][j]["date"]}}
                        <br />
                        {{consults[i][j]["time"]}}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <h1 class="title">Upcoming Special Events</h1>
        <h2 class="subtitle">2020 Y5 PTM</h2>
        <table class="table is-fullwidth is-hoverable">
            <thead>
            </thead>
            <tbody>
                {% for i in range(specials | length) %}
                <tr>
                    <th>With Who: </th>
                    <th>{{specials[i][0]["person_name"]}}</th>
                </tr>
                {% for j in range(specials[i] | length) %}
                <tr data-target="modal_special_{{i+1}}_{{j+1}}">
                    {% if j==0 %}
                    <td>Timings: </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        {{specials[i][j]["date"]}}
                        <br />
                        {{specials[i][j]["time"]}}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for i in range(consults | length) %}
    {% for j in range(consults[i] | length) %}
    <div id="modal_consult_{{i+1}}_{{j+1}}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <td class="has-text-weight-bold">With Who</td>
                            <td>
                                {{consults[i][j]["person_name"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Email</td>
                            <td>
                                {{consults[i][j]["person_email"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Time Booked</td>
                            <td>
                                {{consults[i][j]["date"]}}<br>
                                {{consults[i][j]["time"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Reference Code</td>
                            <td>
                                {{consults[i][j]["ref_code"]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="modal-close is-large"></button>
    </div>
    {% endfor %}
    {% endfor %}

    {% for i in range(specials | length) %}
    {% for j in range(specials[i] | length) %}
    <div id="modal_special_{{i+1}}_{{j+1}}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <table class="table is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <td class="has-text-weight-bold">With Who</td>
                            <td>
                                {{specials[i][j]["person_name"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Email</td>
                            <td>
                                {{specials[i][j]["person_email"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Time Booked</td>
                            <td>
                                {{specials[i][j]["date"]}}<br>
                                {{specials[i][j]["time"]}}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-text-weight-bold">Reference Code</td>
                            <td>
                                {{specials[i][j]["ref_code"]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="modal-close is-large"></button>
    </div>
    {% endfor %}
    {% endfor %}


</section>
{% endblock %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}